.bienvenida{
    text-align: center;
}

.test-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.test-container a{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    max-height: 100px;
    border: 5px #000 double;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    border-radius: 100px;
    margin: 30px;
}
.test-container a:hover{
    flex-grow: 2;
    margin: 10px;
    transition: 1s;
}

.test{
    font-size: 40px;
}

.footer{
    position: sticky;
    display: flex;
    width: 100%;
    background: #a60;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-grow: 1;
    bottom: 0px;
}

li{
    margin: 15px;
}


@media screen and (min-width: 700px){
    .test-container{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .test-container > a{
        flex-grow: 1;
        max-height: 300px;
        margin: 50px;
    }

    .test-container a:hover{
        flex-grow: 2;
        margin: 30px;
        transition: 1s;
    }
}